.Progressive {
  height: 5rem;
  grid-area: 1/1/2/4;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  background-color: var(--breadcrumbs-background);
  margin-left: -1.2rem;
  margin-right: 1.2rem;

  & .bar {
    height: 4px;
    width: 20%;
    border-radius: 3px;
    flex-grow: 0.8;
  }
  & .filled-bar {
    background-color: var(--primary-base-color);
    animation: progressing 1s ease-in-out alternate;
    animation-iteration-count: 2;
  }
  & .empty-bar {
    background-color: #d4d4d4;
  }
  & .bar-step {
    margin-top: -2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & .bar-step-pointer {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: var(--check-mark-opacity);
    margin: auto;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
  }
  & .filled-bar-step-pointer {
    background-color: var(--primary-base-color);
    animation: turning 2s ease-in-out alternate;

  }
  & .empty-bar-step-pointer {
    background-color: #686868;
    color: #fff;
    font-size: 1.3rem;
  }
  & .bar-step-name {
    font-size: 1rem;
    margin: 1rem auto;
    text-transform: capitalize;
  }
  & .filled-bar-step-name {
    color: #000;
  }
  & .empty-bar-step-name {
    color: #686868;
  }

  & .filled-bar-step-pointer::after {
    content: "";
    position: absolute;
    z-index: 1;
    opacity: var(--check-mark-opacity);
    transition: opacity 150ms ease-in;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 4px;
    width: 2rem;
    height: 0.6rem;
    transform: rotate(135deg) translateX(-5px);
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
  }
}
.Progressive::before{
  content:'';
  position:absolute;
  left: -20%;
  top:0;
  width: 140vw;
  height: 5rem;
  background-color: var(--breadcrumbs-background);

}
@keyframes progressing {
  0% {
    transform: scale(1);
    border:solid 1px var(--primary-base-color);
    background-color: transparent;
    opacity: 70%;
  }
  100% {
    transform: scale(1.1);
    background-color: var(--primary-base-color);
    opacity: 100%;
  }
}
@keyframes turning {
  0% {
    border:solid 1px var(--primary-base-color);
    background-color: transparent;
    opacity: 50%;
  }
  100% {
    transform: rotate(360deg);
    background-color: var(--primary-base-color);
    opacity: 100%;
  }
}